section {
    background: aqua;
    display: block;
    height: 1000px;
    margin: auto;
    padding: 10px;
}

#guitar-fret-box {
  width: 50%;
  height: 1000px;
  background: purple;
  float: left;
  text-align:center;
}

#buttons {
  background: purple;
  float: left;
  height: 1000px;
  width: 50%;
}

/*Contains guitar fret and question-mark frets*/
#guitar-fret-container {
  position:relative;
  display:inline-block;
}

/*Actual image of guitar fret */
#guitar-fret {
  position:relative;
}

/*Question marks on frets*/
#guitar-fret-container > button {
  position: absolute;
  background-size: 100%;
  background-image: url(http://findicons.com/files/icons/2227/picol/32/questionmark_32.png);
  width: 2em;  height: 2em;
}

#buttons > button {
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  background-color: #ffc477;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background: -webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: -moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');

  border: 1px solid #eeb44f;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  color: #ffffff;
  font-family: Comic Sans MS;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  line-height: 50px;
  height: 50px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #cc9f52;
  margin: 10px;
  padding: 0;
}

#buttons > button:hover {
  background-color: #fb9e25;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background: -webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: -moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align:center;
    font-size:40px;
    color:blue;
}


