#guitar-fret {
  width:768px;
  height:208px;
  -webkit-transform:rotate(90deg);
  margin-top:350px;
  position: relative;
}

#S1F1, #S1F2, #S1F3 {
  position: absolute;
  background-size: 100%;
  background-image: url(http://findicons.com/files/icons/2227/picol/32/questionmark_32.png);
  width: 2em;  height: 2em;
  -webkit-transform:rotate(270deg);
}
#S1F1 {
  right: 730px;
  top: 195px;
}

#S1F2 {
  position: absolute;
  right: 693px;
  top: 195px;
}

#S1F3 {
  position: absolute;
  right: 652px;
  top: 195px;
}
